<% if @product.errors.any? %>
  <ul>
    <% @product.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<div class="form-group">
  <%= f.label :title, :class => "control-label" %>
  <%= f.text_field :title, :class => "form-control", :required => true %>

  <div class="help-block with-errors"></div>
</div>

<div class="form-group">
  <%= f.input :description, as: :ckeditor %>
</div>

<div class="form-group">
  <%= f.label :quantity, :class => "control-label" %>
  <%= f.number_field :quantity, :class => "form-control", :required => true %>

  <div class="help-block with-errors"></div>
</div>

<div class="form-group">
  <%= f.label :price, :class => "control-label" %>
  <%= f.number_field :price, :class => "form-control", :required => true %>

  <div class="help-block with-errors"></div>
</div>

<div class="form-group">
  <%= f.input :image, as: :file %>
</div>

<div class="form-group">
  <%= f.label :friendly_id %>
  <%= f.text_field :friendly_id, :required => true, :class => "form-control" %>
  <p class="help-block">现小写英数字及横线，将作为网址的一部分</p>

  <div class="help-block with-errors"></div>
</div>

<div class="form-group">
  <%= f.label :category_ids %>
  <%= link_to("添加类别", new_admin_category_path, class: "btn btn-link") %>
  <%= f.select :category_ids, Category.all.map{ |c| [c.name, c.id] }, {}, :multiple => true, :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :status %>

  <div class="btn-group" data-toggle="buttons">
    <% Product::STATUS.each do |status| %>
      <label class="btn btn-default <%= (status == f.object.status)? 'active' :'' %>">
        <%= f.radio_button :status, status %>
        <%= t(status, :scope => "product.status") %>
      </label>
    <% end %>
  </div>
</div>

<script>
  $("#product_category_ids").select2( { theme: "bootstrap"} );

  $("form").validator();
</script>
